# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Colorization_Tool_on_Web.iml
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/deployment.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
